[Unit]
Description=Gunicorn instance to serve cookeryapi
After=network.target

[Service]
User=ubuntu
Group=www-data

User=leod
Group=www-data
WorkingDirectory=/media/leod/WORKSPACE/crazyapp/cookeryapi
Environment="PATH=/home/leod/.local/share/virtualenvs/cookeryapi-Px9HRAp5/bin"
ExecStart=/home/leod/.local/share/virtualenvs/cookeryapi-Px9HRAp5/bin/gunicorn --workers 1 --bind unix:/tmp/myproject.sock -m 007 --access-logfile /var/log/crazyapp/cookery/gunicorn-access.log --error-logfile /var/log/crazyapp/cookery/gunicorn-error.log --timeout=10 --reload "app:create_app('development')"

[Install]
WantedBy=multi-user.target
